<nav class="navbar">
    <div class="logo">
        <a href="/website">
            <img src="/website/media/Logo_whiteHQ.png" alt="Company Logo">
        </a>
    </div>
    <ul class="nav-links">
        <li><a href="/website">Home</a></li>
        <li><a href="/website/pages/about.html">About</a></li>
        <li><a href="/website/pages/services.html">Services</a></li>
        <li><a href="/website/pages/contact.html">Contact</a></li>
    </ul>
    <div class="mobile-menu">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</nav>