<nav class="navbar">
    <div class="logo">
        <a href="/website">
            <img src="/website/media/Logo_whiteHQ.png" alt="Research Logo">
        </a>
    </div>
    <ul class="nav-links">
        <li><a href="/website">Home</a></li>
        <li><a href="/website/pages/comprehensive.html">Abstract</a></li>
        <li><a href="/website/pages/research.html">Research</a></li>
        <li><a href="/website/pages/literature.html">Literature</a></li>
        <li><a href="/website/pages/methodology.html">Methodology</a></li>
        <li><a href="/website/pages/data.html">Data</a></li>
        <li><a href="/website/pages/results.html">Results</a></li>
    </ul>
    <div class="mobile-menu">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>